{% extends "base.html" %}
{% load static %}
{% block body_container %}
            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#">Hotel</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
        
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>All Hotel</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                    <form class="app-search" style="max-width: 400px; margin-top: 3rem;">
                                        <input type="text" placeholder="Search..." class="form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>
                                    <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="fa fa-ellipsis-h" style="transform: rotate(90deg);"></i></a>
                                    <ul id="dr-users" class="dropdown-content">
                                        <li><a href="#!">Add New</a>
                                        </li>
                                        <li><a href="#!">Edit</a>
                                        </li>
                                        <li><a href="#!">Update</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a>
                                        </li>
                                        <li><a href="#!"><i class="material-icons">subject</i>View All</a>
                                        </li>
                                    </ul>

                                    <!-- Dropdown Structure -->

                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No. </th>
                                                    <th>Supplier Name</th>
                                                    <th>Hotal Name</th>
                                                    <th>Contact No.</th>
                                                    <th>Address</th>
                                                    <th>No. of Rooms</th>
                                                    <th> Hotal Policy</th>
                                                    <th>Photos</th>
                                                    <th>Videos</th>
                                                    <th>Room Category</th>
                                                    <th>Room Size</th>
                                                    <th>Room Bed Type</th>
                                                    <th>Room Amenities</th>
                                                    <th>Room Photo</th>
                                                    <th>Meal Plan</th>
                                                    <th>Net Price</th>
                                                    <th>Cancellention Policy</th>
                                                    <th>No of Guest Max</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Manoj Kumar Sain</td>
                                                    <td>Hotel K7 Prime</td>
                                                    <td>+91 123-1234-132</td>
                                                    <td>Tonk road, Near By Gandhi Nager Railway Station</td>
                                                    <td>4</td>
                                                    <td><a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a>
                                                    </td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Standard</td>
                                                    <td>5'4</td>
                                                    <td>Standard</td>
                                                    <td>Free wifi, Bar</td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt="" ></span>
                                                    </td>
                                                    <td>Lunch</td>
                                                    <td>8000₹</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td>4</td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Manoj Kumar Sain</td>
                                                    <td>Hotel K7 Prime</td>
                                                    <td>+91 123-1234-132</td>
                                                    <td>Tonk road, Near By Gandhi Nager Railway Station</td>
                                                    <td>4</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Standard</td>
                                                    <td>5'4</td>
                                                    <td>Standard</td>
                                                    <td>Free wifi, Bar</td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Lunch</td>
                                                    <td>8000₹</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td>4</td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body_container %}
    {% block bottom %}
    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>




    
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>

    

    <!--======== SCRIPT FILES =========-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        // Function to open the popup with the clicked image
        function openPopup(imageSrc) {
            // Set the source of the popup image
            document.getElementById("popupImage").src = imageSrc;
            // Display the popup
            document.getElementById("imagePopup").style.display = "block";
        }
    
        // Function to close the popup
        function closePopup() {
            document.getElementById("imagePopup").style.display = "none";
        }
    </script>
    {% endblock bottom %}