{% extends "base.html" %}
{% load static %}
{% block body_container %}
<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li class="active-bre"><a href="#">Supplier Login Approval</a></li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Supplier Login Approval</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Company Name</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Email Id</th>
                                        <th>Mobile Number</th>
                                        <th>Hotel</th>
                                        <th>Taxi Transfer</th>
                                        <th>Dining</th>
                                        <th>Adventure</th>
                                        <th>Approval</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in suppliers %}
                                    <tr>
                                        <td>{{ supplier.username }}</td>
                                        <td>{{ supplier.company }}</td>
                                        <td>{{ supplier.first_name }}</td>
                                        <td>{{ supplier.last_name }}</td>
                                        <td>{{ supplier.country }}</td>
                                        <td>{{ supplier.city }}</td>
                                        <td>{{ supplier.email }}</td>
                                        <td>{{ supplier.mobile }}</td>
                                        <td>
                                            {% if supplier.has_hotel %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if supplier.has_taxi_transfer %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if supplier.has_dining %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if supplier.has_adventure %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                
                                    <td>
                                            {% if supplier.is_approved %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not supplier.is_approved %}
                                                <a href="" class="btn btn-primary">Approve</a>
                                            {% else %}
                                                <span>Already Approved</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_container %}
{% block bottom %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock bottom %}
