<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tour and Travel Admen Panel</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- GOOGLE FONTS -->
    <link href="../../../../fonts.googleapis.com/csse9c0.css?family=Nunito+Sans:400,600,700" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mob.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/materialize.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
                <!-- <a href="index.html" class="logo"><img src="assets/images/logo.png" alt="" /> -->
                </a>
            </div>
            <!--== SEARCH ==-->
            <div class="col-md-6 col-sm-6 mob-hide">
                <form class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
            </div>
            <!--== NOTIFICATION ==-->
            <div class="col-md-2 tab-hide">
                <div class="top-not-cen">
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-commenting-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-envelope-o" aria-hidden="true"></i><span>5</span></a>
                    <a class='waves-effect btn-noti' href='#'><i class="fa fa-tag" aria-hidden="true"></i><span>5</span></a>
                </div>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div class="col-md-2 col-sm-3 col-xs-6">
                <!-- Dropdown Trigger -->
                <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'><img src="images/user/6.png" alt="" />My Account <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

                <!-- Dropdown Structure -->
                <ul id='top-menu' class='dropdown-content top-menu-sty'>
                    <li><a href="member.html" class="waves-effect"><i class="fa fa-list-ul" aria-hidden="true"></i> Listings</a>
                    </li>
                    <li><a href="hotals.html"waves-effect"><i class="fa fa-building-o" aria-hidden="true"></i> Hotels</a>
                    </li>
                    <li><a href="addplace.html" class="waves-effect"><i class="fa fa-umbrella" aria-hidden="true"></i> Tour Packages</a>
                    </li>
                    <li><a href="offers.html" class="waves-effect"><i class="fa fa-tags" aria-hidden="true"></i> Offers</a>
                    </li>
                    <li><a href="user-add.html" class="waves-effect"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</a>
                    </li>
                    <li><a href="#" class="waves-effect"><i class="fa fa-undo" aria-hidden="true"></i> Backup Data</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-1">
                <!--== USER INFO ==-->
                <div class="sb2-12">
                    <a href="index.html" class="logo"><img src="assets/images/logo.png" alt="" />
                </div>
                <!--== LEFT MENU ==-->
                <div class="sb2-13">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li><a href="index.html" ><i class="fa fa-bar-chart" aria-hidden="true"></i>Home</a>
                        </li>
                        <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-list-ul" aria-hidden="true"></i> User Approvel</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="listing-all.html" >Member Login</a>
                                    </li>
                                    <li><a href="agent.html">Agent Login</a>
                                    </li>
                                    <li><a href="supplier.html">Supplier Login</a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </li>
                        <li><a href="newsbar.html" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i>News Bar</a>
                            <!-- <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="user-all.html">All Users</a>
                                    </li>
                                    <li><a href="user-add.html">Add New user</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        <li><a href="addplace.html" class="collapsible-header"><i class="fa fa-umbrella" aria-hidden="true"></i>Add Place</a>
                            <!-- <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="package-all.html">All Packages</a>
                                    </li>
                                    <li><a href="package-add.html">Add New Package</a>
                                    </li>
                                    <li><a href="package-cat-all.html">All Package Categories</a>
                                    </li>
                                    <li><a href="package-cat-add.html">Add Package Categories</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        <li><a href="nationality.html" class="collapsible-header"><i class="fa fa-umbrella" aria-hidden="true"></i>Nantionality</a></li>
                        <li><a href="#" class="collapsible-header"><i class="fa fa-h-square" aria-hidden="true"></i> Hotels</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="hotals.html">All Hotels</a>
                                    </li>
                                    <li><a href="approvedhotel.html">Approved Hotel</a>
                                    </li>
                                    <li><a href="pendinghotel.html">Pending Approvel Hotel</a>
                                    </li>
                                    <li><a href="suspendhotel.html">Suspent Hotel</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="collapsible-header"><i class="fa fa-paper-plane"></i> Transfers</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="transfer.html">All Transfer</a>
                                    </li>
                                    <li><a href="approvedhotel.html">Approved Transfers</a>
                                    </li>
                                    <li><a href="pendinghotel.html">Pending Approvel Transfer</a>
                                    </li>
                                    <li><a href="suspendhotel.html">Suspent Transfer </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                                </ul>
                                
                </div>
            </div>
            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#">Hotel</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                       
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>All Suspend Hotel</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                    <form class="app-search" style="max-width: 400px; margin-top: 3rem;">
                                        <input type="text" placeholder="Search..." class="form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>
                                    <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
                                    <ul id="dr-users" class="dropdown-content">
                                        <li><a href="#!">Add New</a>
                                        </li>
                                        <li><a href="#!">Edit</a>
                                        </li>
                                        <li><a href="#!">Update</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a>
                                        </li>
                                        <li><a href="#!"><i class="material-icons">subject</i>View All</a>
                                        </li>
                                    </ul>

                                    <!-- Dropdown Structure -->

                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No. </th>
                                                    <th>Supplier Name</th>
                                                    <th>Hotal Name</th>
                                                    <th>Contact No.</th>
                                                    <th>Address</th>
                                                    <th>No. of Rooms</th>
                                                    <th> Hotal Policy</th>
                                                    <th>Photos</th>
                                                    <th>Videos</th>
                                                    <th>Room Category</th>
                                                    <th>Room Size</th>
                                                    <th>Room Bed Type</th>
                                                    <th>Room Amenities</th>
                                                    <th>Room Photo</th>
                                                    <th>Meal Plan</th>
                                                    <th>Net Price</th>
                                                    <th>Cancellention Policy</th>
                                                    <th>No of Guest Max</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Manoj Kumar Sain</td>
                                                    <td>Hotel K7 Prime</td>
                                                    <td>+91 123-1234-132</td>
                                                    <td>Tonk road, Near By Gandhi Nager Railway Station</td>
                                                    <td>4</td>
                                                    <td><a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a>
                                                    </td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Standard</td>
                                                    <td>5'4</td>
                                                    <td>Standard</td>
                                                    <td>Free wifi, Bar</td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt="" ></span>
                                                    </td>
                                                    <td>Lunch</td>
                                                    <td>8000₹</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td>4</td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Manoj Kumar Sain</td>
                                                    <td>Hotel K7 Prime</td>
                                                    <td>+91 123-1234-132</td>
                                                    <td>Tonk road, Near By Gandhi Nager Railway Station</td>
                                                    <td>4</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Standard</td>
                                                    <td>5'4</td>
                                                    <td>Standard</td>
                                                    <td>Free wifi, Bar</td>
                                                    <td><span class="list-img"><img src="images/listing/1.jpg" alt=""></span></td>
                                                    <td>Lunch</td>
                                                    <td>8000₹</td>
                                                    <td><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="images/privacy-policy.png" alt="" class="policy-img"></a></td>
                                                    <td>4</td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>